*{
  margin: 0;
padding: 0;
color: white;
font-family: Arial, Helvetica, sans-serif;
user-select: none;
}

body{
  background: black;
}
header{
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4285F4;
  color:white;
 
}

.container>h1{
  color: white;
  text-align: center;
  font-size: 30px;
  margin-top: 30px;


}

.body{

  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.imgContainer{
  flex-basis: 45%;

}

.imgContainer img{
  max-width: 100%;
  
}
.formContainer{
  flex-basis: 40%;
  padding: 20px;

}

.formContainer form{

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  border: 1px solid black;
  height: 400px;
  width: 100%;
}

form div {

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

form div label{
  font-size: 17px;
}

form div input{
 font-size: 17px;
  height: 40px;
  border: none;
  background-color: black;
  outline: none;
  width: 70%;

  border-bottom: 1px solid white;
}

form div:last-child{
  margin-top: 40px;
}

button{
  height: 40px;
  width: 30%;
  background: rgb(248, 103, 103);
  border: none;
  border-radius: 3px;
  font-size: 17px;
  cursor: pointer;
}


button:last-child{
  background: rgb(52, 250, 52);
}

.error{
  width: 70%;
  border:1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 2px;
}
.error span{
  color: #f28787;
}

button:hover{
  background-color: red;
}

button:disabled{
  background: gray;
}
@media only screen and (max-width: 800px){
  .imgContainer ,.formContainer {
     
    flex-basis: 95%;
  }
}

.linkContainer{
  width: 100%;
  display: flex;
  color: #4285F4;
  justify-content: center;
}

.linkContainer a{
  color: #4285F4;
}
.linkContainer a:hover{
  color: #f28787;
}

.containerHome {
  background: white;
  height: 89vh;
  display:flex;
  align-items: center;
  flex-direction: column;

}

.containerHome th{
  color: rgb(48, 47, 47);
}
.containerHome h2, p, div,td,tr,table,label,span{
  color: #555;
  text-align: center;
}

.containerHome td{
  font-size: 17px;
  padding: 20px;
}

.containerHome table{
  margin-top: 40px;
  width: 90%;
  border-collapse: collapse;
}


.containerHome table tr{
  border-bottom: 1px solid #ccc;
}

td:nth-child(5) button{
  height: 25px;
  width: auto;
  padding: 5px;
  background:#4285F4;
}

td:nth-child(6) button{
  height: 25px;
  width: auto;
  padding: 5px;
  background:#f0a6a6;
}
td button:hover{
  background: #f28787;
}

.add{
  margin-top: 20px;
  width: 90%;
  background: #3577e2;
  height: 30px;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  
}
.add button{
  background-color: rgb(25, 109, 109);
 height: 35px;
 width: 80px;
}





.modal{
  width: 100%;
  justify-content: center;
  display: flex;
}

.pop{
  background: rgb(0, 0,0,0.1);
  position: fixed;
  border-radius: 5px;
  height: 80%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop form{
  border: 2px solid #4285f4;
  background: white;
  width: 35%;
  padding: 0 10px;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 5px #4285f4;
  overflow: auto;
  animation: zoomout 0.5s;  
 

}
.pop form div input{
font-size: 17px;
  height: 40px;
  border: none;
  background-color: white;
  outline: none;
  color: #555;
  width: 70%;

  border-bottom: 1px solid #ccc;

}

.pop form span{
  width: 90%;
  display: flex;
  justify-content: flex-end;
  font-weight: bolder;
}
.pop form>button{
  background: white;
  width: 100%;
}
article{
  height: 80%;
  width: 90%;
  overflow-y: scroll;
}
.pop form span:hover{
  color: crimson;
}
@keyframes zoomout {
  from {transform: scale(0)} 
  to {transform: scale(1)}
} 
@keyframes zoomin {
  from {transform: scale(1)} 
  to {transform: scale(0)}
} 
